
<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter"></h3>
    <p style="text-align: center">Konzept und Umsetzung: Birger Kroll &amp; dpa-newslab <br/> &copy; dpa-Infocom 2017 
    </p>
    <p style="text-align: center; font-size: small">
    Thanks to open licenses by: <a href="https://icons8.com/icon/22050/Speech-Bubble">icons8 speech bubble</a> and <a href="https://github.com/vincentchan/mickey"> Mickey Theme</a>.
    <p style="text-align: center"><a class="dpa" href="{{ site.baseurl }}{% link intern/fragen.html %}">Übersicht</a></p>
  </div>
</section>
