<!-- Javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ site.baseurl_javascripts | prepend: site.baseurl }}imagesloaded.pkgd.min.js"></script>
<script src="{{ site.baseurl_javascripts | prepend: site.baseurl }}jquery.auto-complete.min.js"></script>
{% if page.syntaxHighlighter %}
  <script src="{{ site.baseurl_javascripts  | prepend: site.baseurl }}prism.js"></script>
  <script src="{{ site.baseurl_javascripts  | prepend: site.baseurl }}plugins/prism-line-numbers.min.js"></script>
{% endif %}

<script>
  $(document).ready(function(){

    // Featured image loaded behavior
    $('.section-backgroundImage img').imagesLoaded()
      .done( function( instance ) {
        $('.post-featuredImage').addClass('is-loaded');
      });

    // Modal toggle behavior
    $('.modal-toggle-wrapper').click(function() {
    	$(this).toggleClass('active');
      $('.modal-toggle-bubble').toggleClass('active');
    	$('.modal-toggle-bubbleShadow').toggleClass('active');
      $('.modal-toggle-close-wrapper').toggleClass('active');
      $('.fullscreenModal').toggleClass('active');
    });

    // Prevent default anchor event and make a share popup
    $.fn.sharePopup = function (e, intWidth, intHeight, blnResize) {

      e.preventDefault();
      intWidth = intWidth || '750';
      intHeight = intHeight || '500';
      strResize = (blnResize ? 'yes' : 'no');

      //// Set title and open popup with focus on it
      var strTitle = ((typeof this.attr('title') !== 'undefined') ? this.attr('title') : 'Social Share'),
          strParam = 'width=' + intWidth + ',height=' + intHeight + ',resizable=' + strResize,
          objWindow = window.open(this.attr('href'), strTitle, strParam).focus();
    }

    $('.shareButton').on("click", function(e) {
      $(this).sharePopup(e);
    });

    if (document.location.hash == {{ site.internalhashcode | jsonify }}) {
        $(".dpa").css("visibility","visible")
    }
  });

  // Show modal toggle after scrolling 300px
  $(document).scroll(function() {
    $('.modal-toggle-group').toggleClass('active', $(document).scrollTop() >= 300);
  });

  
  $.getJSON("{{ site.baseurl }}/search.json",function(data) {
        var questions=data;
        $('input[name="q"]').autoComplete({
            minChars: 2,
            menuClass: "suggestion-dropdown",
            source: function(term, suggest){
                        term = term.toLowerCase();
                        var matches = [];
                        for (i=0; i<data.questions.length; i++) {
                            var q=data.questions[i];
                            if (
                               ((typeof q.title != "undefined") && (~q.title.toLowerCase().indexOf(term))) || 
                               ((typeof q.content != "undefined") && (~q.content.indexOf(term))) 
                               ) {
                                matches.push(q);
                            }
                        }
                        matches.push(data.default);
                        suggest(matches);
                    },
            renderItem: function (item, search){
                            search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
                            var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
                            return '<div class="autocomplete-suggestion" data-link="'+item.link+'" data-val="'+search+'">'+item.title.replace(re, "<b>$1</b>")+'</div>';
                    },
            onSelect: function(e, term, item){
                        console.log('Item "'+item.data('link')+'" selected by '+(e.type == 'keydown' ? 'pressing enter' : 'mouse click')+'.');
                        document.location="//"+document.location.host+item.data('link');
                    }
        });
  })
  


</script>
