<nav role="navigation" class="sidebar sidebar--right">
  <h2 class="sidebar-recentPosts"><a href="{{site.baseurl}}/">Home</a></a>
  <ul class="sidebar-recentPosts">
    {% assign items=site.pages | where_exp: "item","item.homepage>0" | sort: 'homepage', 'last' %}
    {% for post in items offset:0 limit: 10%}
      {% if post.title == page.title %}
        <!-- exclude current post -->
      {% else %}
      <li>
        {% if post.image.feature %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="sidebar-recentPosts-image-wrapper">
            <img src="{{ post.image.feature | prepend: site.baseurl_featured_thumbnail | prepend: site.baseurl }}" style="" alt="">
          </a>
        {% endif %}
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
