/* site additions */

.dpa, .dpa:link, .dpa:visited { 
    color: #10c010; 
    text-decoration: none; 
    border: 1px solid #10f010; 
    background-color: #ffffff; 
    border-radius: 8px; 
    font-size: 15px; 
    visibility: hidden;
    }

.dpa:hover { background-color: #e0e0e0; }

.suggestion-dropdown .autocomplete-suggestion { 

            font-family: Roboto, sans-serif;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            padding-right: 0.2em;
            padding-left: 0.2em;
            border-top: 1px solid #e0e0e0;
            white-space: normal; 
            
            
            }

input[name=q] {
            font-family: Roboto, sans-serif;
}

