---
layout: intern
title: Fragenliste
---

  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        {% assign products=site.pages | where: "layout","infocom-product" | sort: "homepage", "last" %}
        {% for product in products %}
        <h4>{{ product.title }}
        <span style="font-size: 10px">homepage: {{ product.homepage }} teaserstyle: {{ product.teaserstyle }} link: <a href="{{ product.url | prepend: site.baseurl }}">{{ product.product }}</a></span></h4>
        {% include edit-me.html item=product label="Dieses Produkt" %}
            {% assign items=site.pages | where: "layout","question" | where_exp: "item", "item.product contains product.product" | sort: "order", "last" %}
            {% for item in items %}
            <table><tr><td style="width: 180px; overflow: hidden; vertical-align: top; padding-top: 30px; white-space: normal">
<pre style="white-space: normal; font-size: 10px; text-align: right; line-height: 12px; overflow: hidden; width: 160px">
            product: {{ item.product | jsonify  }}
            </pre>
            </td><td>
            {% include question.html %}
            <span style="font-size: 50%"><a href="{{ site.baseurl}}{{ product.url }}#{{ item.path | slugify }}">Frage bei {{ product.title }}</a></span>
            {% include edit-me.html item=item label="Diese Frage" %}
            </td></table>
            {% endfor %}
      {% endfor %}
      </div>
    </div>
  </section>
  <script>
  document.location.hash={{ site.internalhashcode | jsonify }};
  </script>
